@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body, .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

.social-links {
    display: flex;
}

.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 10px rgb(71, 71, 71);
    color: #333;
    font-family: 'Kanit', sans-serif;
    margin: 5px;
    transition: 1s;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}

.social-btn:hover span{
    padding: 2px;
    width: max-content;
}